body{
  background-color: whitesmoke;
}
.media { flex-direction: column; 
  background: rgba(183, 183, 183, 0.85); width: 80%; margin: 24px 10%; }
.media img{
  width: 100%;
  height: auto;
}
.media > div { display:flex; border-bottom: 1px solid #999; padding: 10px;}
.media > div:last-child { border-bottom: 0;}
.media > div > * { flex: 3; text-align: left; padding: 8px 5px; order:1}
.media > div > .media-left { flex: 1; order: 2;}
.loading { text-align:center; padding: 50px;}
.jumbotron { background-image:url('https://images.unsplash.com/photo-1424896842869-a5bda51fca24?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color:#fff;
}
h1 { font-size: 2rem;}
@media(min-width: 480px) {
  h1 { font-size: 2.5rem;}
  .container > div > .media {
    margin-top: -4rem;
  }
}
@media(min-width: 768px) {
  h1 { font-size: 3rem;}
  .container > div > .media {
    margin-top: -6rem;
  }
}